pkgbase = dlss-manager
	pkgdesc = Scan Steam games, manage DLSS DLL versions, and install OptiScaler / dlssg_for_sm86 -- CLI + PySide6 GUI
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/sendement/dlss-manager
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-uv-build
	depends = python
	depends = python-pefile
	depends = python-platformdirs
	depends = pyside6
	depends = python-requests
	depends = 7zip
	source = dlss-manager-0.3.3.tar.gz::https://github.com/sendement/dlss-manager/archive/refs/tags/v0.3.3.tar.gz
	sha256sums = b04c29d33c0cc7dda4354b9dfbd111797240bee72a29a14a2c6291ef37a5ff78

pkgname = dlss-manager
